.Device {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 20px;
}

.Device .title {
    background: #2d2d2d;
    color: #FFFFFF;
    margin: 0;
    padding: 5px;
    font-size: 1em;
}

.Device iframe {
    top:0;
    left:0;
}

iframe::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

iframe::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

iframe::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}